body {
    background: gray;
}

.section {
    display: flex;
    padding: auto;
    padding: 40px;
    width: 60%;
    margin-left: 500px;
}

.section img {
    height: 250px;
    height: 250px;
    object-fit:cover;
    border-radius: 50%;
}

.artwork img {
    width: 250px;
    height: 250px;
    object-fit:cover;
    border-radius: 50%;
    object-position: 54% 20%;
}

.artwork2 img {
    width: 500px;
    height: 250px;
}

table {
    width: 100%;
    border: 1px solid rgb(107, 120, 144);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

table {
    width: 100%;
}

table tr {
    margin-bottom: 15px;
}

table td {
    padding: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}